# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/

# VS Code settings
.vscode/

# MacOS system files
.DS_Store

# Logs and databases
*.log
*.sqlite3

# Python packaging
*.egg
*.egg-info/
dist/
build/
*.whl

# dotenv / secrets
.env
